<!-- about -->
<div class="about py-5">
  <div class="container py-xl-5 py-lg-3">
    <h3 class="title text-capitalize font-weight-light text-dark text-center mb-5">Welcome to
      <span class="font-weight-bold">Shiksha</span>
    </h3>
    <div class="row pt-md-4">
      <div class="col-lg-6 about_right">
        <h3 class="text-capitalize text-right font-weight-light font-italic">interface friendly learning at
          <span class="font-weight-bold">Shiksha</span>
        </h3>
        <p class="text-right my-4 pr-4 border-right">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
          eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        <div class="about_left-list">
          <h6 class="mb-lg-3 mb-2 font-weight-bold text-dark">Our Benefits</h6>
          <ul class="list-unstyled">
            <li class="mb-2">
              <i class="fas fa-check mr-3"></i>Duis aute irure dolor in reprehe</li>
            <li class="mb-2">
              <i class="fas fa-check mr-3"></i>unt in culpa qui officia deserunt</li>
            <li class="mb-2">
              <i class="fas fa-check mr-3"></i>Nemo enim ipsam voluptatem quia</li>
            <li class="mb-2">
              <i class="fas fa-check mr-3"></i>quis nostrum exercitationem ullam</li>
            <li class="mb-2">
              <i class="fas fa-check mr-3"></i>corporis suscipit laboriosam</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 left-img-agikes mt-lg-0 mt-sm-4 mt-3 text-right">
        <img src="/assets/images/ab.jpg" alt="" class="img-fluid" />

        <div class="about-bottom text-center p-sm-5 p-4">
          <ul>
            <li>
              <h5>60+</h5>
              <p class="text-dark font-weight-bold">Teachers</p>
            </li>
            <li>
              <h5>2000+</h5>
              <p class="text-dark font-weight-bold">Students</p>
            </li>
            <li>
              <h5>80+</h5>
              <p class="text-dark font-weight-bold">Courses</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //about -->