<!-- Stats-->
<div class="stats-w3layouts py-5">
  <div class="container py-xl-5 py-lg-3">
    <div class="stats-info">
      <div class="row">
        <div class="col-md-3 col-6 stats-grid-w3-agile text-center px-xl-5 px-3">
          <div class='numscroller font-weight-bold my-2' data-slno='1' data-min='0' data-max='1280' data-delay='.5' data-increment="1">1280</div>
          <p class="text-uppercase text-white border-top pt-4 mt-3">happy students</p>
        </div>
        <div class="col-md-3 col-6 stats-grid-w3-agile text-center  px-xl-5 px-3">
          <div class='numscroller font-weight-bold my-2' data-slno='1' data-min='0' data-max='920' data-delay='.5' data-increment="1">920</div>
          <p class="text-uppercase text-white border-top pt-4 mt-3">approved courses</p>
        </div>
        <div class="col-md-3 col-6 stats-grid-w3-agile text-center mt-md-0 mt-5  px-xl-5 px-3">
          <div class='numscroller font-weight-bold my-2' data-slno='1' data-min='0' data-max='1200' data-delay='.5' data-increment="1">1200</div>
          <p class="text-uppercase text-white border-top pt-4 mt-3">certified teachers</p>
        </div>
        <div class="col-md-3 col-6 stats-grid-w3-agile text-center mt-md-0 mt-5  px-xl-5 px-3">
          <div class='numscroller font-weight-bold my-2' data-slno='1' data-min='0' data-max='1200' data-delay='.5' data-increment="1">1200</div>
          <p class="text-uppercase text-white border-top pt-4 mt-3">graduate students</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //Stats -->
