<!-- what we do -->
<div class="why-choose-agile py-5">
  <div class="container py-xl-5 py-lg-3">
    <h3 class="title text-capitalize font-weight-light text-white text-center mb-5">what we
      <span class="font-weight-bold">do</span>
    </h3>
    <div class="row agileits-w3layouts-grid pt-md-4">
      <div class="col-lg-4 services-agile-1">
        <div class="row wthree_agile_us">
          <div class="col-lg-3 col-md-2 col-3  agile-why-text">
            <div class="wthree_features_grid text-center p-3 border rounded">
              <i class="fab fa-accusoft"></i>
            </div>
          </div>
          <div class="col-9 agile-why-text-2">
            <h4 class="text-capitalize text-white font-weight-bold mb-3">special education</h4>
            <p>Lorem ipsum magna, vehicula ut scelerisque ornare porta ete celerisque ornare.</p>
            <a class="btn mt-3 service-button p-0" href="about.html" role="button">Read More
              <i class="fas fa-long-arrow-alt-right ml-1"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 services-agile-1 my-lg-0 my-5">
        <div class="row wthree_agile_us">
          <div class="col-lg-3 col-md-2 col-3  agile-why-text">
            <div class="wthree_features_grid text-center p-3 border rounded">
              <i class="fas fa-book"></i>
            </div>
          </div>
          <div class="col-9 agile-why-text-2">
            <h4 class="text-capitalize text-white font-weight-bold mb-3">full day session</h4>
            <p>Lorem ipsum magna, vehicula ut scelerisque ornare porta ete celerisque ornare.</p>
            <a class="btn mt-3 service-button p-0" href="about.html" role="button">Read More
              <i class="fas fa-long-arrow-alt-right ml-1"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 services-agile-1">
        <div class="row wthree_agile_us">
          <div class="col-lg-3 col-md-2 col-3  agile-why-text">
            <div class="wthree_features_grid text-center p-3 border rounded">
              <i class="fas fa-users"></i>
            </div>
          </div>
          <div class="col-9 agile-why-text-2">
            <h4 class="text-capitalize text-white font-weight-bold mb-3">qualified teachers</h4>
            <p>Lorem ipsum magna, vehicula ut scelerisque ornare porta ete celerisque ornare.</p>
            <a class="btn mt-3 service-button p-0" href="about.html" role="button">Read More
              <i class="fas fa-long-arrow-alt-right ml-1"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row agileits-w3layouts-grid mt-5">
      <div class="col-lg-4 services-agile-1">
        <div class="row wthree_agile_us">
          <div class="col-lg-3 col-md-2 col-3  agile-why-text">
            <div class="wthree_features_grid text-center p-3 border rounded">
              <i class="far fa-calendar-alt"></i>
            </div>
          </div>
          <div class="col-9 agile-why-text-2">
            <h4 class="text-capitalize text-white font-weight-bold mb-3">events</h4>
            <p>Lorem ipsum magna, vehicula ut scelerisque ornare porta ete celerisque ornare.</p>
            <a class="btn mt-3 service-button p-0" href="about.html" role="button">Read More
              <i class="fas fa-long-arrow-alt-right ml-1"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 services-agile-1  my-lg-0 my-5">
        <div class="row wthree_agile_us">
          <div class="col-lg-3 col-md-2 col-3  agile-why-text">
            <div class="wthree_features_grid text-center p-3 border rounded">
              <i class="fas fa-graduation-cap"></i>
            </div>
          </div>
          <div class="col-9 agile-why-text-2">
            <h4 class="text-capitalize text-white font-weight-bold mb-3">pre classes</h4>
            <p>Lorem ipsum magna, vehicula ut scelerisque ornare porta ete celerisque ornare.</p>
            <a class="btn mt-3 service-button p-0" href="about.html" role="button">Read More
              <i class="fas fa-long-arrow-alt-right ml-1"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 services-agile-1">
        <div class="row wthree_agile_us">
          <div class="col-lg-3 col-md-2 col-3  agile-why-text">
            <div class="wthree_features_grid text-center p-3 border rounded">
              <i class="far fa-clock"></i>
            </div>
          </div>
          <div class="col-9 agile-why-text-2">
            <h4 class="text-capitalize text-white font-weight-bold mb-3">24/7 supports</h4>
            <p>Lorem ipsum magna, vehicula ut scelerisque ornare porta ete celerisque ornare.</p>
            <a class="btn mt-3 service-button p-0" href="about.html" role="button">Read More
              <i class="fas fa-long-arrow-alt-right ml-1"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //what we do -->
