<!-- testimonials -->
<div class="testimonials py-5">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title text-capitalize font-weight-light text-white text-center mb-5">what our
				<span class="font-weight-bold">people says</span>
			</h3>
			<div class="mis-stage">
				<!-- The element to select and apply miSlider to - the class is optional -->
				<ol class="mis-slider">
					<!-- The slider element - the class is optional -->
					<li class="mis-slide">
						<!-- A slide element - the class is optional -->
						<a href="#" class="mis-container">
							<!-- A slide container - this element is optional, if absent the plugin adds it automatically -->
							<figure>
								<!-- Slide content - whatever you want -->
								<img src="assets/images/t1.jpg" alt=" " class="img-fluid" />
								<figcaption>Carl Lii
									<span>Sed maximus eros quis leo.</span>
								</figcaption>
							</figure>
						</a>
					</li>
					<li class="mis-slide">
						<a href="#" class="mis-container">
							<figure>
								<img src="assets/images/t2.jpg" alt=" " class="img-fluid" />
								<figcaption>Michael Paul
									<span>Sed maximus eros quis leo.</span>
								</figcaption>
							</figure>
						</a>
					</li>
					<li class="mis-slide">
						<a href="link" class="mis-container">
							<figure>
								<img src="assets/images/t3.jpg" alt=" " class="img-fluid" />
								<figcaption>Henry Doe
									<span>Sed maximus eros quis leo.</span>
								</figcaption>
							</figure>
						</a>
					</li>
					<li class="mis-slide">
						<a href="#" class="mis-container">
							<figure>
								<img src="assets/images/t4.jpg" alt=" " class="img-fluid" />
								<figcaption>Laura James
									<span>Sed maximus eros quis leo.</span>
								</figcaption>
							</figure>
						</a>
					</li>
					<li class="mis-slide">
						<a href="#" class="mis-container">
							<figure>
								<img src="assets/images/t5.jpg" alt=" " class="img-fluid" />
								<figcaption>Thomas Carl
									<span>Sed maximus eros quis leo.</span>
								</figcaption>
							</figure>
						</a>
					</li>
					<li class="mis-slide">
						<a href="#" class="mis-container">
							<figure>
								<img src="assets/images/t6.jpg" alt=" " class="img-fluid" />
								<figcaption>Rosy Crisp
									<span>Sed maximus eros quis leo.</span>
								</figcaption>
							</figure>
						</a>
					</li>
					<li class="mis-slide">
						<a href="#" class="mis-container">
							<figure>
								<img src="assets/images/t4.jpg" alt=" " class="img-fluid" />
								<figcaption>Michael Paul
									<span>Sed maximus eros quis leo.</span>
								</figcaption>
							</figure>
						</a>
					</li>
				</ol>
			</div>
		</div>
	</div>
	<!-- //testimonials -->