<!-- social icons -->
<div class="social-icons text-lg-right text-center col-lg-4 mt-lg-0 mt-3">
  <ul class="list-unstyled">
    <li>
      <a href="#" class="fab fa-facebook-f icon-border facebook rounded-circle"> </a>
    </li>
    <li class="mx-2">
      <a href="#" class="fab fa-twitter icon-border twitter rounded-circle"> </a>
    </li>
    <li>
      <a href="#" class="fab fa-google-plus-g icon-border googleplus rounded-circle"> </a>
    </li>
    <li class="ml-2">
      <a href="#" class="fas fa-rss icon-border rss rounded-circle"> </a>
    </li>
  </ul>
</div>
<!-- //social icons -->