<!-- top header -->
<div class="top-head-w3ls py-2 bg-dark">
  <div class="container">
    <div class="row">
      <h1 class="text-capitalize text-white col-7">
        <i class="fas fa-book text-dark bg-white p-2 rounded-circle mr-3"></i>welcome to Shiksha</h1>
      <!-- social icons -->
      <div class="social-icons text-right col-5">
        <ul class="list-unstyled">
          <li>
            <a href="#" class="fab fa-facebook-f icon-border facebook rounded-circle"> </a>
          </li>
          <li class="mx-2">
            <a href="#" class="fab fa-twitter icon-border twitter rounded-circle"> </a>
          </li>
          <li>
            <a href="#" class="fab fa-google-plus-g icon-border googleplus rounded-circle"> </a>
          </li>
          <li class="ml-2">
            <a href="#" class="fas fa-rss icon-border rss rounded-circle"> </a>
          </li>
        </ul>
      </div>
      <!-- //social icons -->
    </div>
  </div>
</div>
<!-- //top header -->
